---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
    <article id="contact" class="p-4">
        <header class="text-2xl">Contact</header>
        <p>
            I’m currently working as a software engineer at
            <a href="https://bitset.jp/" target="_blank">株式会社bitset</a>,
            where I work on various fields including from desktop/web
            applications, cloud systems to robot controls and embedded systems.
            I’m interested in roles that involve system design, backend
            development, and DevOps.
        </p>
        <br />
        <p>
            If you’d like to chat about work, system design, or anything else,
            feel free to reach out. LinkedIn is the best way to reach me.
        </p>
        <br />
        <p>
            <strong>LinkedIn:</strong>
            <a
                href="https://www.linkedin.com/in/su-hong-park-1aa107216/"
                target="_blank">linkedin.com/in/su-hong-park-1aa107216</a
            >
        </p>
        <br />
        <p>
            <strong>GitHub:</strong>
            <a href="https://github.com/GormWH" target="_blank"
                >github.com/GormWH</a
            >
        </p>
    </article>
</BaseLayout>
