---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
	<article id="hero" class="p-4">
		<header class="text-2xl">
			Software Engineer focused on system design.
		</header>
		<p>I start with why and constraints.</p>
		<p>I design structure before implementation.</p>
		<p>I choose tools based on fit, not trend.</p>
		<p>Focused on building reliable backend and real-time systems.</p>
	</article>
</BaseLayout>
