---
const currentYear = new Date().getFullYear();
---

<footer>
    <span>
        <div>
            GormWH  © {currentYear}. Osaka, Japan
        </div>
        <div>
            <a href="https://github.com/GormWH">GitHub</a>
            <a href="https://www.linkedin.com/in/gormwh/">LinkedIn</a>
            <a href="CV.pdf">CV</a>
        </div>
    </span>

</footer>